body{
	margin: 5;
	background-color: #313848;
    font-family: Impact;
}
a:link{
color: black;
}
a:visited{
color: black;
}
a{
	text-decoration: none;
}


#header{
	background: #63657C;
	height: 150px;
	min-width: 1024px;
	border-top: 1px solid #63657C;
	border-radius: 20px 20px 1px 1px;
	display: block;
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 1px;
}
.headerbutton{
margin: 85px 5px 10px;
border-radius: 20px 20px 1px 1px;
float:right; 90px 5px 5px;
transition: 0.1s linear;
height:60px;
width:60px;
box-shadow: 1px 1px 1px 0px;
}

#icon{
	float: left;
	height: 150px;
	width: 427;
	margin:0px 0px 0px 2px ;
}

/*Меню*/
#menu{
max-width: 9024px;
background: #63657C;
border-radius: 20px 20px 1px 1px;
margin: 7px 0px 0px 3px;

padding: 10px 0px 11px 0px;
}
#knopka1{
padding: 5px 10px 6px 10px;
font-size: 20px;
background: #63657C;
border: solid 0.2px;
border-radius: 20px 20px 1px 1px;
transition: 0.1s linear;
box-shadow: 1px 1px 1px 0px;
margin-left: 15px;
}
.knopka{
padding: 5px 10px 6px 10px;
font-size: 20px;
background: #63657C;
border: solid 0.2px;
border-radius: 20px 20px 1px 1px;
transition: 0.1s linear;
box-shadow: 1px 1px 1px 0px;
}
/*Меню*/
#video_text1{
margin: 0px 0px 0px 25px;
}
#video_text2{
margin: 0px 0px 0px 25px;
}
#video_text3{
margin: 0px 0px 0px 25px;
}
#video_text4{
margin: 0px 0px 0px 25px;
}
#video_text5{
margin: 0px 0px 0px 25px;
}
#video_text6{
margin: 0px 0px 0px 25px;
}
#vid1{
float: left;
margin: 20px 45px 25px 20px;
border-radius: 20px 20px 1px 1px;
background: #63657C;
max-width: 560px;
}
#vid2{
float: left;
margin: 20px 45px 25px 20px;
border-radius: 20px 20px 1px 1px;
background: #63657C;
max-width: 560px;
}
#vid3{
float: left;
margin: 20px 45px 25px 20px;
border-radius: 20px 20px 1px 1px;
background: #63657C;
max-width: 560px;
}
#vid4{
float: left;
margin: 20px 45px 25px 20px;
border-radius: 20px 20px 1px 1px;
background: #63657C;
max-width: 560px;
}
#vid5{
float: left;
margin: 20px 45px 25px 20px;
border-radius: 20px 20px 1px 1px;
background: #63657C;
max-width: 560px;
}
#vid6{
margin: 20px 45px 25px 20px;
border-radius: 20px 20px 1px 1px;
background: #63657C;
max-width: 560px;
float: left;
}

#knopka1:hover{
box-shadow: 0px 0px 0px 0px;
}
.knopka:hover{
box-shadow: 0px 0px 0px 0px;
}
.headerbutton:hover{
box-shadow: 0px 0px 0px 0px;
}


/*Стили для слайдера*/

.sl{
    max-width: 720px;
    margin: 0px auto;
}
.sl_text{
    position: absolute;
    bottom: 0;
    width: 720px;
    margin: 0px 0px;
    background-color: rgba(42,42,51,0.5);
    padding: 0px 0px 0px 0px;
    text-align: center;
    color: #C7CDD3;
}
.sl_zag, .sl_desc{
 margin: 0;
 padding: 0;
}

.sl_slide{
   position: relative;
}
#slaider{
	background-image: url(../images/night_stars.jpg);
	height: 500px;
	min-width: 1024px;
	display: block;
    
    padding: 7px 0px 7px;
}
/*Стили для слайдера*/





